# AWS region
region = "ap-southeast-1"

# SSH key 
key_name        = "k0s-key"
public_key_path = "../../../key_pair/k0s_key.pub"

# Networking
vpc_cidr = "10.0.0.0/16"
vpn_cidr = "10.8.0.0/24"

az_count = 3

subnet_newbits = 8

public_subnet_indexes = [1, 2, 3]
k8s_subnet_indexes    = [11, 12, 13]
observ_subnet_indexes = [21]

openvpn_public_subnet_index = 2

k0s_nodes = {
  master = {
    subnet_index = 0
    private_ip   = "10.0.11.10"
  }

  worker1 = {
    subnet_index = 0
    private_ip   = "10.0.11.11"
  }

  worker2 = {
    subnet_index = 1
    private_ip   = "10.0.12.10"
  }

  worker3 = {
    subnet_index = 2
    private_ip   = "10.0.13.10"
  }
}

observability_nodes = {
  obser_01 = {
    subnet_index = 0
    private_ip   = "10.0.21.10"
  }

  # obser_02 = {
  #   subnet_index = 1
  #   private_ip   = "10.0.22.10"
  # }
}

# =========================
# Compute
# =========================
# AMI is automatically resolved by Terraform using:
# data "aws_ami" "ubuntu_2204"
# - Ubuntu 22.04 LTS (Jammy)
# - Official Canonical AMI
# - Most recent version per region

# Instance Type 
k0s_instance_type           = "t3.small"
observability_instance_type = "t3.small"
openvpn_instance_type       = "t3.micro"

# Ansible
ansible_inventory_dir = "../../../ansible-hub/inventories/staging"

# Application Load Balancer
alb_target_port = 30293
environment     = "staging"
